---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import AboutMe from '../components/AboutMe.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import { Code } from 'astro:components';
import cvIcon from '../components/Cv.astro';
---

<Layout 
  title="Portfolio de Nicolas Di Dio - Desarrollador y Programador"
  description="Estudiante de Ingenieria en Sistemas y entusiasta del desarrollo de software"
>
  <main class="px-4">

    <!-- Presentación -->
    <SectionContainer id="About" class="py-10 md:py-14">
      <AboutMe>
        </slot>
      </AboutMe>
    </SectionContainer>
    <SectionContainer id="Experience" class="py-8 md:py-12">
      <h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        Actualmente no cuento con experiencia laboral formal, ya que he estado enfocado en avanzar en mi formación académica y profesional a través de la carrera y diversos cursos complementarios.
        Mi experiencia se basa en el desarrollo de sistemas y proyectos integradores realizados para materias de la facultad, utilizando tecnologías actuales. En estos proyectos he desempeñado roles tanto de analista como de desarrollador (frontend y backend).
        Además, desarrollo proyectos personales que utilizo como instancia de práctica, aprendizaje y mejora continua.
      </h2>
    </SectionContainer>

    <!-- Proyectos -->
    <SectionContainer id="Projects" class="py-10 md:py-14">
      <h2 class="text-3xl font-semibold mb-6 gap-x-3 flex items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

  </main>
</Layout>
