---
const personalImageAlt = "Miguel Ángel"
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';

---

<div div class="max-w-xl">
			<img 
			class="rounded-full w-12 h-12"
			src="/fotoCv2.jpg" 
			alt="foto de perfil"
		>	
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pt-2 pb-6 lg:pb-10">
				Hola, soy Nicolas Di Dio 
				<a href="https://www.linkedin.com/in/fernando-nicolas-di-dio-646313348/"
					target="_blank"
				rel="noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class=" text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">Soy estudiante de 5to año de la carrera de Ingenieria en sistemas de Informacion en la UTN de Rosario.
				Me apasiona el mundo del desarrollo de software y <span class="text-yellow-200/90">cuento con solidos conocimientos en desarrollo de proyectos full-stack. Ademas, tengo experiencia en gestion y manejo de bases de datos, así como en tareas propias del rol de Analista en Sistemas.</span>
			</h2>
			<ul class="flex gap-4 mt-8 flex-wrap">
				<li>
					<SocialPill href="https://www.linkedin.com/in/fernando-nicolas-di-dio-646313348/">
						<LinkedIn class="size-4 md:size-6" />
						LinkedIn 
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/NicolasDiDio09">
						<GitHubIcon class="size-4 md:size-6" />
						GitHub
					</SocialPill>
				</li> 
				<li>
					<SocialPill href="mailto:NicolasDiDio09@gmail.com">
						<MailIcon class="size-4 md:size-6" />
						Contacto
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://drive.google.com/drive/folders/1XiD-Ctp-vbqv-0Y9IJuZ74GfziSDl9xb?usp=sharing">
						Curriculum
					</SocialPill>
				</li>
			</ul>
</div>