---
import ThemeToggle from './ThemeToggle.astro';
---

<header id="navbar" class="fixed top-4 left-1/2 z-50 w-fit -translate-x-1/2 text-sm font-medium transition-all duration-300">
  <nav id="navContent" class="flex gap-x-6 items-center text-white dark:text-gray-200">
    <a href="#Top" class="hover:text-yellow-400">Home</a>
    <a href="#About" class="hover:text-yellow-400">About</a>
    <a href="#Experience" class="hover:text-yellow-400">Experience</a>
    <a href="#Projects" class="hover:text-yellow-400">Projects</a>
    <a href="#Contact" class="hover:text-yellow-400">Contact</a>
    <ThemeToggle />
  </nav>
</header>

<script is:inline>
  const navbar = document.getElementById('navbar');
  const navContent = document.getElementById('navContent');

  let lastScroll = 0;

  const applyScrolledStyles = () => {
    navContent.classList.add(
      'rounded-full',
      'backdrop-blur-sm',
      'border',
      'border-white/10',
      'bg-black/20',
      'px-5',
      'py-2',
      'shadow-md',
      'dark:bg-white/10'
    );
  };

  const removeScrolledStyles = () => {
    navContent.classList.remove(
      'rounded-full',
      'backdrop-blur-sm',
      'border',
      'border-white/10',
      'bg-black/20',
      'px-5',
      'py-2',
      'shadow-md',
      'dark:bg-white/10'
    );
  };

  window.addEventListener('scroll', () => {
    const currentScroll = window.scrollY;

    if (currentScroll > 50) {
      applyScrolledStyles();
    } else {
      removeScrolledStyles();
    }

    lastScroll = currentScroll;
  });
</script>
