---
import ThemeToggle from './ThemeToggle.astro';
---

<header id="navbar" class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <nav id="navContent" 
           class="flex gap-3 md:gap-5 px-4 md:px-6 text-sm font-medium text-gray-600 dark:text-gray-200 justify-center items-center rounded-full"">
    <a href="#Top" class="block px-3 py-2 transition hover:text-yellow-400 dark:hover:text-yellow-300">Home</a>
    <a href="#About" class="block px-3 py-2 transition hover:text-yellow-400 dark:hover:text-yellow-300">About</a>
    <a href="#Experience" class="block px-3 py-2 transition hover:text-yellow-400 dark:hover:text-yellow-300">Experience</a>
    <a href="#Projects" class="block px-3 py-2 transition hover:text-yellow-400 dark:hover:text-yellow-300">Projects</a>
    <a href="#Contact" class="block px-3 py-2 transition hover:text-yellow-400 dark:hover:text-yellow-300">Contact</a>
    <ThemeToggle />
  </nav>
</header>

<script is:inline>
  const navbar = document.getElementById('navbar');
  const navContent = document.getElementById('navContent');

  let lastScroll = 0;

  const applyScrolledStyles = () => {
    navContent.classList.add(
      'rounded-full',
      'backdrop-blur-sm',
      'border',
      'border-white/10',
      'bg-black/20',
      'px-5',
      'py-2',
      'shadow-md',
      'dark:bg-white/10'
    );
  };

  const removeScrolledStyles = () => {
    navContent.classList.remove(
      'rounded-full',
      'backdrop-blur-sm',
      'border',
      'border-white/10',
      'bg-black/20',
      'px-5',
      'py-2',
      'shadow-md',
      'dark:bg-white/10'
    );
  };

  window.addEventListener('scroll', () => {
    const currentScroll = window.scrollY;

    if (currentScroll > 50) {
      applyScrolledStyles();
    } else {
      removeScrolledStyles();
    }

    lastScroll = currentScroll;
  });
</script>
