---
import Angular from './icons/Angular.astro'
import NodeJs from '../components/icons/NodeJs.astro'
import Mongo from './icons/MongoDb.astro'
import Tailwind from './icons/Tailwind.astro'
import SocialPill from './SocialPill.astro';



const TAGS = {
    ANGULAR : {
        name: "Angular",
        class: "bg-black text-white",
        icon: Angular,
    },
    NODEJS : {
        name: "Node.Js",
        class: "bg-black text-white",
        icon: NodeJs,
    },
    MONGO : {
        name: "MongoDb",
        class: "bg-black text-white",
        icon: Mongo,
    },
    TAILWIND : {
        name: "Tailwind",
        class: "bg-black text-white",
        icon: Tailwind,
    }
}
const PROJECTS = [
    {
        title: 'Poncho Home & Stay ',
        description: 'Proyecto full stack integrador, desarrollado en grupo para la materia de Desarrollo de Software de la carrera de Ingeniería en Sistemas. La aplicación fue construida utilizando Angular para el frontend y Node.js para el backend. Se empleó MongoDB como base de datos y Tailwind CSS para los estilos.',
        link: 'https://poncho-home-and-stay.vercel.app/home',
        github: 'https://github.com/francoax/dsw-app',
        image: '/proyects/Poncho.webp',
        tags:[TAGS.ANGULAR,TAGS.NODEJS,TAGS.MONGO,TAGS.TAILWIND]
    }
]

---

{
    PROJECTS.map(proyect =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2" >{proyect.title}</h3>
            <p class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] mb-6">{proyect.description}</p>
            <ul class="flex gap-x-4 flex-row">
                {proyect.tags.map(tag => (
                    <li>
                    <SocialPill>
                        <tag.icon class="size-4 md:size-6" />
                        {tag.name}
                    </SocialPill>
                    </li>
                ))}    
            </ul>
            <img class="rounded shadow-white/20 mt-6 " src={proyect.image} alt="Captura de pantalla del proyecto">
        </article>
    ) )
}